.container {
  max-width: 620px;
  margin: 0 auto;
}

body {
  background-color: #131316;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */

*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.no-webp .header {
  background-image: url("../img/bg.jpg"); }

.header {
  padding-top: 20px;
  background-repeat: no-repeat;
}

.header__img {
  width: 120px;
  height: 60px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__button {
  font-family: "Segoe-Regular";
  text-transform: uppercase;
  width: 180px;
  height: 40px;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  margin-top: 10px;
  background: linear-gradient(87.23deg, rgba(128, 26, 179, 0) -91.42%, #4c4cff 99.79%);
  border-radius: 4px;
  border: none;
}

.header__title {
  color: #fff;
  text-align: center;
  margin-top: 44px;
  font-size: 32px;
  line-height: 42.56px;
  margin-bottom: 20px;
  font-family: "Segoe-Regular";
}

.header__card {
  width: 200px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 4px;
  margin-bottom: 10px;
}

.header__card-img {
  width: 100%;
  height: auto;
}

.header .img {
  width: 100%;
  height: auto;
}

.header__card-text {
  color: #131316;
  text-align: center;
  font-size: 16px;
  line-height: 21.28px;
  width: 180px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: -5px;
  font-family: "Segoe-Regular";
}

.header .price {
  display: flex;
  width: 180px;
  justify-content: space-around;
  height: 30px;
}

.header .gray {
  text-decoration: line-through;
  color: #d9d9d9;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 8px;
}

.header .black {
  color: #131316;
  font-weight: 700;
  font-size: 24px;
  line-height: 31.92px;
  margin-left: 10px;
}

.header__card-button {
  display: block;
  margin: 8px auto;
  text-transform: uppercase;
  background: linear-gradient(87.23deg, rgba(128, 26, 179, 0) -91.42%, #4c4cff 99.79%);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 21.28px;
  color: #fff;
  height: 40px;
  width: 180px;
}

.header__card--width {
  width: 305px;
  margin-top: 2px;
}

.black--center {
  text-align: center;
  margin-left: 40px;
}

.header__card-text--width {
  width: 285px;
}

.button--width {
  width: 285px;
}

.price--block {
  display: block;
  margin: 0 auto;
}

.footer {
  padding-top: 60px;
}

.footer__title {
  color: #fff;
  text-align: center;
  font-family: "Segoe-Regular";
  font-size: 16px;
  margin-bottom: 23px;
  margin-top: 7px;
}

.footer .social {
  display: flex;
  justify-content: center;
}

.footer .social__img {
  margin-left: 10px;
  margin-right: 10px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.footer .right-text {
  font-size: 13px;
  color: #fff;
  opacity: 50%;
  font-family: "Segoe-Regular";
}

.footer .tel {
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-family: "Segoe-Regular";
  margin-top: 3px;
}

.footer .email {
  display: block;
  text-decoration-line: underline;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-family: "Segoe-Regular";
}

.footer__logo {
  margin-top: -5px;
}

.footer .left {
  margin-top: -5px;
}

.stock {
  padding-top: 50px;
}

.stock__title {
  text-align: center;
  color: #fff;
  font-size: 32px;
  line-height: 42.56px;
  font-family: "Segoe-Regular";
  margin-top: -2px;
}

.stock__card {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 4px;
  margin-top: 20px;
  padding-bottom: 35px;
}

.stock__card-inner {
  display: flex;
}

.stock .card__img {
  width: 305px;
  height: auto;
}

.stock .img {
  width: 100%;
  height: auto;
}

.stock__card-left {
  margin-left: 10px;
  margin-top: 30px;
}

.rating {
  width: 172px;
  height: 28px;
}

.rating img {
  width: 100%;
  height: auto;
}

.name {
  font-size: 16px;
  line-height: 21.28px;
  font-family: "Segoe-Regular";
  margin-top: 15px;
  color: #131316;
}

.description {
  font-size: 13px;
  font-family: "Segoe-Regular";
  line-height: 17.29px;
  color: #131316;
  margin-top: 9px;
  margin-bottom: 25px;
}

.gray {
  text-decoration: line-through;
  color: #d9d9d9;
  font-size: 16px;
  font-family: "Segoe-Regular";
  margin-left: 5px;
}

.black {
  color: #131316;
  font-size: 16px;
  font-family: "Segoe-Bold";
  margin-left: 17px;
  margin-top: -2px;
}

.red {
  color: #fff;
  background-color: #ff0000;
  font-family: "Segoe-Bold";
  font-size: 16px;
  line-height: 17px;
  width: 60px;
  height: 20px;
  padding: 3px 5px;
  border-radius: 4px;
  margin-left: 25px;
}

.sale {
  margin-top: -5px;
}

.conditions {
  margin-top: 30px;
}

.conditions-one {
  display: flex;
  padding-bottom: 7px;
}

.conditions-two {
  display: flex;
  padding-bottom: 7px;
}

.conditions-three {
  display: flex;
}

.conditions__name {
  width: 180px;
  font-size: 13px;
  font-family: "Segoe-Regular";
  color: #131316;
  line-height: 17.29px;
}

.desc {
  margin-left: 30px;
}

.desc--red {
  color: #ff0000;
  font-family: "Segoe-Bold";
}

.stock__button-promo {
  border: 1px dashed #131316;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  line-height: 21.26px;
  color: #131316;
  font-family: "Segoe-Bold";
  width: 280px;
  height: 60px;
  margin-top: -2px;
}

.stock__button {
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  background: linear-gradient(87.23deg, rgba(128, 26, 179, 0) -91.42%, #4c4cff 99.79%);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 21.28px;
  color: #fff;
  width: 280px;
  height: 60px;
  margin-top: 8px;
}

@font-face {
  font-family: "Segoe-Regular";
  src: url(../fonts/SegoeUI.woff2) format("woff2");
}

@font-face {
  font-family: "Segoe-Bold";
  src: url(../fonts/SegoeUI-Bold.woff2) format("woff2");
}

.webp .header { background-image: url(../img/bg.webp); }